<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">TV Shows</a>
        </div>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input ng-model="$ctrl.key" type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" ng-click="$ctrl.setKey()" class="btn btn-success">Submit</button>
        </form>
    </div>
</nav>